# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - nightly
notifications:
  email: false
branches:
  only:
  - master
  - /release-.*/
  - /v(\d+)\.(\d+)\.(\d+)/
after_success:
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("NodeJS")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
